<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List employee</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="flex flex-col ">
    <th:block th:insert="fragment/Header"></th:block>
    <!--TODO:toast message-->
    <div class="bg-[#ccc] flex top-16 relative">
        <th:block th:insert="fragment/Sidebar"></th:block>

        <!-- content -->
        <div class="w-4/5 bg-white p-2">
            <h1 class="font-medium py-3 text-4xl">Employee List</h1>
            <div class="p-3  border-t-[1px] border-solid border-slate-300">
                <!-- action_sort -->
                <form th:action="@{/employees}" method="get"
                      class="flex justify-end  mx-auto gap-2 rounded-l-sm ">
                    <div class="relative flex items-center w-96">
                        <div class=" w-12 rounded-l-sm  bg-[#eeeeee] p-3  w-12 flex items-center justify-center inset-y-0 start-0 flex items-center  pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 " aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                            </svg>
                        </div>
                        <input
                                name="q"
                                th:value="${param.q}"
                                type="search" id="default-search"
                                class="block w-full w-4/5 p-2 border-[1px] border-solid border-slate-300 ps-10 text-sm text-gray-900 rounded-r-lg bg-white  "
                                placeholder="User Search" required/>
                    </div>
                    <!-- sort -->
                    <div class="relative flex items-center ml-3">
                        <div
                                class="p-2 rounded-l-sm bg-[#eeeeee] gap-3 px-4 flex items-center justify-center inset-y-0 start-0 flex items-center  pointer-events-none">
                            <i class="fa-solid fa-filter"></i>
                            <span>Filter By</span>
                        </div>
                        <div class="dropdown border-[1px] border-solid border-[#ccc]">
                            <select
                                    th:value="${param.field}"
                                    th:name="field"
                                    class="p-2 w-24 " name="searchField" id="searchField">
                                <option th:selected="${#strings.equalsIgnoreCase(param.field, 'firstName')}" value="firstName">Name</option>
                                <option th:selected="${#strings.equalsIgnoreCase(param.field, 'phone')}" value="phone">Phone Number</option>
                                <option th:selected="${#strings.equalsIgnoreCase(param.field, 'email')}" value="email">Email</option>
                            </select>
                        </div>
                    </div>
                    <!-- search button -->
                    <button type="submit"
                            class="text-white bg-[#347ab6]
                            hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 ">
                        Search
                    </button>
                </form>

                <div class="overflow-x-auto mt-10">
                    <p class="alert alert-success" th:if="${#strings.equals(param.success, 'update')}">
                        Update Employee success
                    </p>
                    <p class="alert alert-success" th:if="${#strings.equals(param.success, 'add')}">
                        Add Employee success
                    </p>
                    <!-- table -->
                    <div class="mb-2">
                        Total employee: <i class="font-bold">
                        <span th:text="${employees.getTotalElements()}"></span>
                    </i>
                    </div>
                    <table class="table border-[1px] border-solid border-[#eeeeee] ">
                        <!-- head -->
                        <thead>
                        <tr class="text-black bg-[#f2f2f2] ">
                            <th class="border-[1px] border-solid border-[#eeeeee]">ID</th>
                            <th class="border-[1px] border-solid border-[#eeeeee]">Name</th>
                            <th class="border-[1px] border-solid border-[#eeeeee]">Date of birth</th>
                            <th class="border-[1px] border-solid border-[#eeeeee]">Address</th>
                            <th class="border-[1px] border-solid border-[#eeeeee]">Phone number</th>
                            <th class="border-[1px] border-solid border-[#eeeeee]">Department</th>
                            <th class="border-[1px] border-solid border-[#eeeeee]">Action</th>
                        </tr>
                        </thead>
                        <tbody class="">
                        <tr th:each="emp: ${employees}" class="border-[1px] border-solid border-[#eeeeee]">
                            <td class="border-[1px] border-solid border-[#eeeeee]">
                                <span th:text="${emp.getEmployeeId()}"></span>
                            </td>
                            <td class="border-[1px] border-solid border-[#eeeeee]">
                                <span th:text="${emp.getFirstName()}"></span>
                            </td>
                            <td class="border-[1px] border-solid border-[#eeeeee]">
                                <span th:text="${emp.getDateOfBirth()}"></span>
                            </td>
                            <td class="border-[1px] border-solid border-[#eeeeee]">
                                <span th:text="${emp.getAddress()}"></span>
                            </td>
                            <td class="border-[1px] border-solid border-[#eeeeee]">
                                <span th:text="${emp.getPhone()}"></span>
                            </td>
                            <td class="border-[1px] border-solid border-[#eeeeee]">
                                <span th:text="${emp.getDepartmentName()}"></span>
                            </td>
                            <td class="flex items-center justify-start [1px] border-solid border-[#eeeeee]">
                                <a th:href="@{/employees/{employeeId}(employeeId=${emp.getEmployeeId()})}"
                                   class="p-2 cursor-pointer gap-1 rounded-l-sm text-[#347ab6]  px-4 flex items-center
                                            justify-center">
                                    <i class="fa-solid fa-eye"></i>
                                    <span>View</span>
                                </a>
                                |
                                <a th:href="@{/employees/delete/{employeeId}(employeeId=${emp.getEmployeeId()})}"
                                   class="p-2 cursor-pointer gap-1  rounded-l-sm text-red-700  px-4 flex items-center
                                        justify-center">
                                    <i class="fa-solid fa-trash"></i>
                                    <span>Delete</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--              pagination-->
                <ul class="flex items-center border-[1px] mt-10 border-solid border-[#eeeeee] w-fit">
                    <button
                            th:if="${employees.hasPrevious()}"
                            class="w-20 btn rounded-none m-0 p-0 border-[1px] border-solid border-[#ccc]">
                        <a
                                th:href="@{/employees(page=${employees.getNumber() - 1})}"
                        >
                            Previous
                        </a>
                    </button>
                    <li
                            th:classappend="${page == employees.getNumber() + 1} ? 'bg-[#347ab6] text-white' : ''"
                            th:each="page : ${#numbers.sequence(1, employees.totalPages)}"
                            class="p-3 border-[1px] border-solid border-[#ccc] m-0 text-[#347ab6]">
                        <a
                                th:text="${page}"
                                th:href="@{/employees(page=${page - 1})}"
                                class="page-link">

                        </a>
                    </li>
                    <button
                            th:if="${employees.hasNext()}"
                            class="btn rounded-none m-0 p-[-5px] w-20 text-[#347ab6]">
                        <a
                                th:href="@{/employees(page=${employees.getNumber() + 1})}"
                        >
                            Next
                        </a>
                    </button>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>