<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<body>
<sidebar class="bg-[#F8F8F8]  w-1/5 h-screen">
    <div class="border-b-2 p-3 text-blue-500">
        <i class="fa-solid fa-gauge"></i>
        <a href="#" class="">Dashboard</a>
    </div>
    <!--    <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-200">-->
    <!--        <div class="collapse-title ">-->
    <!--            <i class="fa-solid fa-chart-column text-blue-500"></i>-->
    <!--            <a href="#" class="text-blue-500">Employee manager</a>-->
    <!--        </div>-->
    <!--        <div class="collapse-content">-->

    <!--        </div>-->
    <!--    </div>-->

    <div class="collapse collapse-arrow ">
        <input type="radio" name="my-accordion-2"/>
        <div class="collapse-title ">
            <i class="fa-solid fa-chart-column text-blue-500"></i>
            <a href="#" class="text-blue-500">Employee manager</a>
        </div>
        <div class="collapse-content">
            <div class="border-b-2 p-3 items-center gap-2 flex text-blue-500">
                <i class="fa-solid fa-list"></i>
                <a th:href="@{/employees}"
                   class="">Employee list</a>
            </div>
            <div class="border-b-2 p-3 items-center gap-2 flex text-blue-500">
                <i class="fa-solid fa-plus"></i>
                <a th:href="@{/employees/create}"
                   class="">Add Employee</a>
            </div>
        </div>
    </div>

</sidebar>

</body>
</html>